*.gem
*.rbc
*.log
*.sqlite3
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
test/sitemaps
test/dummy/public/sitemaps
tmp
.DS_Store